@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');
/* CSS Document */

/*--------------------General--------------------*/
*{
	font-family: 'Commissioner';
}

body{
	margin: 0px;
	padding: 0px;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fafafa;
}

.item-rad{
	appearance: none;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	border: solid 1px #dbdbdb;
	margin-right: 25px;
}

.item-rad:before {
	content: '';
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px auto;
	border-radius: 50%;
}

.item-rad:checked:before {
	 background: hsl(176, 50%, 47%);
}

.radio-enable{
	cursor: pointer;
}

input[type="text"]{
	width:30px;
	margin-left: 10px;
	border:none;
	font-size: 14px;
	font-weight: 700;
}

input[type="text"]:focus{
	border-color:white;
	outline: none;
}

.section-bt:hover{
	cursor: pointer;
	opacity: 0.6;
}

.section-mb-bt{
	margin-left: 25px;
	color: black;
	font-size: 18px;
	font-weight: 500;
}

.section-mb-bt:hover{
	cursor:pointer;
	opacity: 0.6;
}

.button{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	font-weight: 700;
	border-radius: 30px;
	text-align: center;
}

.enable-button{
	background-color: hsl(176, 50%, 47%);
	color: white;
}

.enable-button:hover{
	cursor:pointer;
	background-color: hsl(176, 72%, 28%);
}

.disable-button{
	background-color: hsl(0, 0%, 48%);
	color: white;
}

.bookmark{
	width: 200px;
	height: 60px;
	background: #f4f4f4 url("../images/icon-bookmark.svg") left/60px no-repeat;
	color: #727272;
}

.bookmark:hover{
	opacity: 70%;
	cursor:pointer;
}

.bookmarked{
	width: 200px;
	height: 60px;
	background: #f4f4f4 url("../images/icon-bookmarked.svg") left/60px no-repeat;
	color: hsl(176, 72%, 28%);
}

.bookmarked:hover{
	opacity: 70%;
	cursor:pointer;
}

.continue-bt{
	width: 105px;
	height: 45px;
}

.reward-bt{
	width:160px;
	height: 60px;
	float: right;
}

.back-bt{
	width: 200px;
	height: 60px;
}

.default-title{
	font-size: 21px;
	font-weight: 700;
	color: black;
}
.default-text{
	font-size: 16px;
	font-weight: 400;
	color: hsl(0, 0%, 48%);
}

.dollar{
	font-size: 16px;
	font-weight: 700;
	color: #dbdbdb;
}

.overlap{
	z-index: 300;
	position: absolute;
	top:0px;
	background-color: hsla(0, 0%, 0%, 0.7);
	width: 100%;
	height: 2120px;
}

/*--------------------header--------------------*/

header{
	display: flex;
	justify-content: center;
	width: 1440px;
	height: 400px;
	background: url("../images/image-hero-desktop.jpg") center 100% no-repeat;
}

#menu{
	width: 1100px;
	height: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 50px;
}

#menu-top{
	width: inherit;
	overflow: hidden;
}

#menu-logo{
	float: left;
}

#menu > div {
	height: 20px;
}

#menu-hamburger{
	display:none;
	float:right;
	height: 20px;
	width: 20px;
	background: url("../images/icon-hamburger.svg") center 100% no-repeat;
}

#menu-links{
	float:right;
	display: flex;
	align-self: flex-end;
	flex-direction: row;
	align-items: center;
	font-size: 15px;
	font-weight: 400;
	color:white;
}

#menu-links > p{
	margin: auto 0px auto 30px;
}

.menu-icon:hover{
	cursor: pointer;
}

#menu-mobile{
	display:none;
	flex-direction: column;
	align-items: center;
}

#menu-mobile-top{
	width: 430px;
	height: 20px;
	margin-top: 30px;
	overflow:hidden;
}

#mobile-close{
	float: right;
	width: 20px;
	height: 20px;
	background: url("../images/icon-close-menu.svg") center/14px no-repeat;
}

#mobile-logo{
	float: left;
}

#mobile-links{
	position: absolute;
	z-index: 500;
	width: 430px;
	height: 210px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	border-radius: 5px;
	top: 90px;
}

#mobile-links div{
	display: flex;
	align-items: center;
	width: inherit;
	height: 70px;
	text-align: left;
}

#mb-discover{
	border-top: solid 1px black;
	border-bottom: solid 1px black;
}


/*--------------------main--------------------*/

#main{
	width: 730px;
	height: 1800px;
	z-index: 1;
	position: absolute;
	display:flex;
	flex-direction: column;
	margin-top: 310px;
}

.main-section{
	width: inherit;
	margin-bottom: 25px;
	background-color: white;
	border: solid 2px #f6f6f6;
	border-radius: 8px;
}

/*--------------------main-top--------------------*/

#main-top{
	height: 270px;
	display:flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#top-logo{
	z-index: 2;
	position:relative;
	margin-top: -30px;
	margin-bottom: 20px;
}

#top-buttons{
	width: 630px;
	height: 60px;
	margin-top: 20px;
}

#top-buttons-back{
	float: left;
}

#top-buttons-bookmark{
	float: right;
}

#bt-bookmark-text{
	display: block;
}

.main-title{
	color: black;
	font-size: 30px;
	font-weight: 700;
	line-height: 0.3;
}

.main-text{
	color: #797979;
	font-size: 17px;
	font-weight: 400;
}

/*--------------------main-data--------------------*/

#main-data{
	height: 240px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#data-amounts{
	width: 730px;
	height: 80px;
	display:flex;
	flex-direction:row;
	align-items: center;
	margin-top: 50px;
}

#data-amounts > div{
	width: 243px;
	text-align: left;
}

#data-amounts p{
	margin-left: 50px;
}

#amounts-total{
	border-left: solid 2px #f6f6f6;
	border-right: solid 2px #f6f6f6;
}

#data-backgroundBar{
	width: 630px;
	height: 10px;
	border-radius: 5px;
	background-color: #f4f4f4;
	margin: 50px auto 50px 50px;
}

#data-progressBar{
	width: 520px;
	height: inherit;
	border-radius: 5px;
	background-color: hsl(176, 50%, 47%);
}

.data-numbers{
	font-size: 30px;
	font-weight: 700;
	color: black;
	line-height: 0.1;
}

/*--------------------main-about--------------------*/

#main-about{
	height: 1200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 25px;
}

#main-about > div{
	width: 630px;
	margin-bottom: 25px;
}
#mahogany{
	opacity: 40%;
}

.item{
	display: flex;
	flex-direction: column;
	align-items: center;
	border: solid 2px #dbdbdb;
	border-radius: 8px;
}

.item > div{
	width: 570px;
}

.item-desc{
	margin-top: 35px;
}

.item-name{
	float:left;
	font-size: 21px;
	font-weight: 700;
	color: black;
}

.item-pledge{
	float:right;
	font-size: 16px;
	font-weight: 500;
	color: hsl(176, 50%, 47%);
}

.item-stock{
	width: 410px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.item-units{
	font-size: 33px;
	font-weight: 700;
	color: black;
}

.item-bottom{
	display: flex;
	flex-direction: row;
	align-items: center;
}

/*--------------------order--------------------*/

#order{
	display: none;
}

/*--------------------backProject--------------------*/

#backProject{
	display:none;
	flex-direction: column;
	align-items: center;
	z-index: 300;
	position: absolute;
	margin:auto;
	background-color: white;
	width: 730px;
	min-height: 800px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 8px;
}

#backProject-close{
	width: inherit;
}

#back-Mahogany{
	opacity: 0.3;
}

.close{
	float:right;
	margin: 30px 30px 0px auto;
	width: 15px;
	height: 15px;
	background: url("../images/icon-close-modal.svg") center/15px no-repeat;
}

.close:hover{
	cursor:pointer;
	background: url("../images/icon-close-modal-hover.svg") center/15px no-repeat;
}

.backPro-parag{
	width: 640px;
	min-height: 80px;
	margin-bottom: 25px;
}

.parag-desc{
	overflow: hidden;
}

.parag-reward{
	margin-left: 55px;
}

.desc-amountLeft p{
	display: inline-block;
}

.desc-itemSelector{
	float:left;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.desc-itemName{
	margin-right: 20px;
	font-size: 16px;
	font-weight:700;
	color:black;
}

.inStock:hover{
	cursor: pointer;
	color: hsl(176, 50%, 47%);
}

.desc-itemPledge{
	font-size: 16px;
	font-weight:700;
	color:hsl(176, 50%, 47%);
}

.desc-amountLeft{
	float: right;
}

.desc-amount{
	margin-right: 10px;
	font-size: 18px;
	font-weight: 700;
	color:black;
}

.pledge{
	height: 95px;
	display:none;
	flex-direction: row;
	align-items: center;
	border-top: solid 1px #dbdbdb;
	margin-top: 10px;
}

.pledge > div{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.pledge-text{
	justify-content: flex-start;
}

.pledge-submit{
	justify-content: flex-end;
}

.submit-input{
	width: 100px;
	height: 45px;
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border: solid 1px #dbdbdb;
	border-radius: 22px;
	margin-right: 15px;
}

/*--------------------orderCompleted--------------------*/

#orderCompleted{
	display:none;
	flex-direction: column;
	align-items: center;
	z-index: 300;
	position: absolute;
	margin:auto;
	background-color: white;
	width: 440px;
	height: 460px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 8px;
	text-align: center;
	padding: 0px 50px;
}

#order-icon{
	margin: 50px auto 30px;
}

#order-icon img{
	width: 90px;
}

#orderCompleted p[class="default-text"]{
	line-height: 2;
	margin-bottom: 30px;
}

@media screen and (max-width: 480px) {
	
/*--------------------header--------------------*/
	
	header{
		width: 480px;
		height: 320px;
		background: url("../images/image-hero-mobile.jpg") bottom/100% no-repeat;
	}
	
	#menu{
		width: 430px;
		height: 20px;
		margin-top: 30px;
	}
	
	#menu-hamburger{
		display:flex;
	}
	#menu-links{
		display: none;
	}
	
/*--------------------main--------------------*/
	
	#main{
		width: 430px;
		height: 2800px;
		margin-top: 255px;
	}

/*--------------------main-top--------------------*/

	#top-logo{
		margin-bottom: 0px;
	}
	#top-text{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	#top-buttons{
		width: 380px;
		margin-top: 10px;
	}

	.main-title{
		font-size: 23px;
		line-height: 1.3;
		width: 240px;
		margin-bottom: 15px;
	}

	.main-text{
		margin-top: 0px;
		width: 380px;
	}
	
	#bt-bookmark-text{
		display: none;
	}
	
	.bookmark{
		width: 60px;
	}
	
	.bookmarked{
		width: 60px;
	}
}

