@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');

/* CSS Document */
/*--------------------General--------------------*/
* {
	font-family: 'Commissioner';
	box-sizing: border-box;
}

body {
	margin: 0px;
	padding: 0px;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fafafa;
}

h1 {
	padding: 0px;
}

p {
	padding: 0px;
	margin: 0px;
}

input[type="text"] {
	width: 30px;
	margin-left: 10px;
	border: none;
	font: 700 14px;
}

input[type="text"]:focus {
	border-color: white;
	outline: none;
}

.flexRowleft {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.flexRowcenter {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.section-bt:hover {
	cursor: pointer;
	opacity: 0.6;
}

.button {
	border-radius: 33px;
	border: none;
}

.button:hover {
	cursor: pointer;
}

.enable-button {
	background-color: hsl(176, 50%, 47%);
	color: white;
}

.enable-button:hover {
	background-color: hsl(176, 72%, 28%);
}

.disable-button {
	background-color: hsl(0, 0%, 48%);
	color: white;
}

.continue-bt {
	width: 107px;
	height: 48px;
	font: 700 14px/48px 'Commissioner';
}

.reward-bt {
	width: 157px;
	height: 48px;
	float: right;
	font: 700 14px/48px 'Commissioner';
}

.default-title {
	font: 700 20px/24px 'Commissioner';
	color: black;
}

.default-text {
	font: 400 16px 'Commissioner';
	color: hsl(0, 0%, 48%);
}

.dollar {
	font-size: 16px;
	font-weight: 700;
	color: #dbdbdb;
}

.overlap {
	z-index: 300;
	position: absolute;
	top: 0px;
	background-color: hsla(0, 0%, 0%, 0.7);
	width: 100%;
	height: 2120px;
}

.left-text {
	font: 400 15px 'Commissioner';
	color: hsl(0, 0%, 48%);
}

.item {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: solid 1px;
	border-color: rgba(0, 0, 0, 0.15);
	border-radius: 8px;
	margin-bottom: 24px;
	padding: 40px 0px;
}

.item>div {
	width: 570px;
}

/*--------------------header--------------------*/
header {
	display: flex;
	justify-content: center;
	width: 1440px;
	height: 400px;
	background: url("../images/image-hero-desktop.jpg") center 100% no-repeat;
}

menu {
	width: 1440px;
	height: 128px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0px;
	padding: 48px 166px 0px 166px;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
}

#menu>div {
	height: 20px;
}

#menu-logo {
	width: 128px;
	background: url('../images/logo.svg') center/128px no-repeat;
}

#menu-hamburger {
	display: none;
	width: 20px;
	background: url("../images/icon-hamburger.svg") center/14px no-repeat;
}

#menu-links {
	width: 224px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font: 400 13px 'Commissioner';
	color: white;
}

#menu-links>p {
	height: 16px;
}

.menu-icon:hover {
	cursor: pointer;
}

#menu-mobile {
	width: 100vw;
	display: none;
	flex-direction: column;
	align-items: center;
	padding-top: 32px;
}

#menu-mobile-top {
	width: 326px;
	height: 20px;
}

#mobile-close {
	float: right;
	width: 20px;
	height: inherit;
	background: url("../images/icon-close-menu.svg") center/14px no-repeat;
}

#mobile-logo {
	width: 128px;
	height: inherit;
	background: url("../images/logo.svg") center/128px no-repeat;
	float: left;
}

#mobile-links {
	position: absolute;
	z-index: 500;
	width: 326px;
	height: 212x;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	border-radius: 8px;
	top: 88px;
}

#mobile-links div {
	display: flex;
	align-items: center;
	width: inherit;
	height: 70px;
	text-align: left;
}

.section-mb-bt {
	margin-left: 24px;
	color: black;
	font: 500 18px 'Commissioner';
}

.section-mb-bt:hover {
	cursor: pointer;
	opacity: 0.6;
}

#mb-discover {
	border-top: solid 1px black;
	border-bottom: solid 1px black;
}

/*--------------------main--------------------*/
main {
	width: 730px;
	z-index: 1;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 308px;
}

.main-section {
	width: inherit;
	margin-bottom: 22px;
	background-color: white;
	border: solid 2px #f6f6f6;
	border-radius: 8px;
}

/*--------------------main-top--------------------*/
#main-top {
	height: 269px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#top-logo {
	width: 56px;
	height: 56px;
	z-index: 2;
	position: relative;
	margin: -30px 0px 0px 0px;
	background: url('../images/logo-mastercraft.svg') center/56px no-repeat;
}

#top-text {
	width: 507px;
	height: 69px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin-top: 28px;
}

#main-title {
	width: inherit;
	height: 34px;
	margin: 0px 0px 17px 0px;
	color: black;
	font: 700 28px 'Commissioner';
}

#main-text {
	width: inherit;
	height: 20px;
	color: #797979;
	font: 400 16px 'Commissioner';
	letter-spacing: 0px;
}

#top-buttons {
	width: 634px;
	height: 56px;
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}

#top-buttons-back {
	width: 204px;
	height: 56px;
	font: 700 16px/56px 'Commissioner';
}

#top-buttons-bookmark {
	height: 56px;
	font: 700 16px/56px 'Commissioner';
	text-align: left;
	padding-left: 72px;
}

#top-buttons-bookmarkd:hover {
	opacity: 70%;
}

.bookmark {
	width: 174px;
	background: #f4f4f4 url("../images/icon-bookmark.svg") left/56px no-repeat;
	color: #727272;
}

.bookmarked {
	width: 190px;
	background: #f4f4f4 url("../images/icon-bookmarked.svg") left/56px no-repeat;
	color: hsl(176, 72%, 28%);
}

#top-buttons-bookmark-mb {
	width: 56px;
	height: 56px;
	border-radius: 33px;
	border: none;
	cursor: pointer;
	display: none;
}

.mb-bookmark {
	background: url("../images/icon-bookmark.svg") center/56px no-repeat;
}

.mb-bookmarked {
	background: url("../images/icon-bookmarked.svg") center/56px no-repeat;
}


/*--------------------main-data--------------------*/
#data {
	padding: 48px 0px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#dataDetails {
	width: inherit;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

#dataDetails>div {
	width: 228px;
	height: 66px;
	padding-left: 46px;
}

.data-numbers {
	font: 700 32px 'Commissioner';
	color: black;
	margin-bottom: 8px;
}

.dataLimit {
	font: 400 15px 'Commissioner';
	color: hsl(0, 0%, 48%);
}

#totalBackers {
	position: relative;
}

#totalBackers::before,
#totalBackers::after {
	content: '';
	position: absolute;
	width: 0;
	height: 63px;
	background-color: #979797;
	border-left: 1px solid #979797;
	top: 50%;
	transform: translateY(-50%);
}

#totalBackers::before {
	left: 0;
}

#totalBackers::after {
	right: 0;
}


#data-backgroundBar {
	width: 634px;
	height: 12px;
	border-radius: 33px;
	background-color: #f4f4f4;
	margin: 37px 0px 0px 46px;
}

#data-progressBar {
	width: 496px;
	height: inherit;
	border-radius: 33px;
	background-color: hsl(176, 50%, 47%);
}

/*--------------------main-about--------------------*/

#about {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 46px 0px;
}

#about>div {
	width: 634px;
}

#about-mainText {
	height: 269px;
	margin-bottom: 40px;
}

#about-mainText p[class="default-title"] {
	width: inherit;
	height: 24px;
}

#about-mainText p[class="default-text"] {
	width: inherit;
	height: 210px;
	line-height: 30px;
	margin-top: 35px;
}

#mahogany {
	opacity: 40%;
}

.item-desc {
	height: 22px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	margin: 0px 0px 22px 0px;
}

.item-name {
	height: inherit;
	font: 700 18px/18px 'Commissioner';
	color: black;
}

.item-pledge {
	font: 500 15px 'Commissioner';
	color: hsl(176, 50%, 47%);
}

.itemMainText {
	width: inherit;
	height: 60px;
	line-height: 30px;
}

.item-bottom {
	height: 48px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-top: 24px;
}

.item-stock {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.item-units {
	font: 700 32px 'Commissioner';
	color: black;
	margin-right: 8px;
}



/*--------------------order--------------------*/
#order {
	display: none;
}

#backProject {
	display: none;
	flex-direction: column;
	align-items: center;
	z-index: 300;
	position: absolute;
	margin: auto;
	background-color: white;
	width: 730px;
	min-height: 800px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 8px;
}

#backProject-close {
	width: inherit;
	height: 45px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: 31px;
}

#backProject-close p {
	margin-top: 17px;
}

.close {
	width: 15px;
	height: 15px;
	background: url("../images/icon-close-modal.svg") center/15px no-repeat;
}

.close:hover {
	cursor: pointer;
	background: url("../images/icon-close-modal-hover.svg") center/15px no-repeat;
}

#backProject-header p[class="default-text"] {
	margin-top: 16px;
}

#back-Mahogany {
	opacity: 0.3;
}

.backPro-parag {
	width: 640px;
	min-height: 80px;
	margin-bottom: 25px;
}

.item-info {
	display: grid;
	grid-template-rows: 40px 70px;
	grid-template-columns: 50px 470px 70px;
	margin: 25px auto;
}

.info-radioBut {
	grid-row-start: 1;
	grid-column-start: 1;
}

.info-namePledge {
	grid-row-start: 1;
	grid-column-start: 2;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	font: 700 16px 'Commissioner';
}

.info-name {
	margin-right: 20px;
	color: black;
}

.info-pledge {
	color: hsl(176, 50%, 47%);
}

.info-remainingStock {
	grid-row-start: 1;
	grid-column-start: 3;
}

.item-description {
	grid-row-start: 2;
	grid-column-start: 2;
	grid-column-end: 5;
}

.inStock:hover {
	cursor: pointer;
	color: hsl(176, 50%, 47%);
}

.item-rad {
	appearance: none;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	border: solid 1px #dbdbdb;
	margin-right: 25px;
}

.item-rad:before {
	content: '';
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px auto;
	border-radius: 50%;
}

.item-rad:checked:before {
	background: hsl(176, 50%, 47%);
}

.radio-enable {
	cursor: pointer;
}

.desc-amount {
	margin-right: 10px;
	font-size: 18px;
	font-weight: 700;
	color: black;
}

.pledge {
	height: 95px;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-top: solid 1px #dbdbdb;
	margin-top: 10px;
}

.pledge>div {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.pledge-text {
	justify-content: flex-start;
}

.pledge-submit {
	justify-content: flex-end;
}

.submit-input {
	width: 100px;
	height: 48px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border: solid 1px #dbdbdb;
	border-radius: 33px;
	margin-right: 15px;
}

/*--------------------orderCompleted--------------------*/
#orderCompleted {
	display: none;
	flex-direction: column;
	align-items: center;
	z-index: 300;
	position: fixed;
	margin: auto;
	background-color: white;
	width: 540px;
	height: 460px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 8px;
	text-align: center;
	padding: 0px 50px;
}

#order-icon {
	margin: 50px auto 30px;
}

#order-icon img {
	width: 90px;
}

#orderCompleted p[class="default-title"] {
	height: 29px;
}

#orderCompleted p[class="default-text"] {
	width: 444px;
	line-height: 30px;
	margin: 24px 0px 32px;
}




/* ######################################################################
########################### MOBILE VERSION ###########################
######################################################################
*/



@media screen and (max-width: 480px) {

	/*--------------------general--------------------*/
	body {
		height: 100%;
	}

	.default-title {
		font: 700 18px/22px 'Commissioner';
	}

	.default-text {
		font: 400 14px/24px 'Commissioner';
	}

	.item {
		height: auto;
		padding: 24px 0px 24px 0px;
	}

	.item>div {
		width: 231px;
	}

	/*--------------------header--------------------*/

	header {
		width: 100vw;
		height: 300px;
		background: url("../images/image-hero-mobile.jpg") center/cover no-repeat;
	}

	menu {
		width: 100vw;
		;
		height: 300px;
		padding: 32px 24px 0px 24px;
	}

	#menu-hamburger {
		display: flex;
	}

	#menu-links {
		display: none;
	}

	/*--------------------main--------------------*/

	main {
		display: flex;
		width: 100vw;
		height: 2400px;
		margin-top: 245px;
	}

	#main-top {
		width: 327px;
		height: auto;
		padding-bottom: 40px;
	}

	.main-section {
		width: 327px;
	}

	#top-text {
		width: 280px;
		height: 112px;
		margin-top: 24px;

	}

	#main-title {
		height: 48px;
		padding: 0px 20px 0px 20px;
		font: 700 20px 'Commissioner';
	}

	#main-text {
		height: 48px;
		font: 400 14px/24px 'Commissioner';
	}

	#top-buttons {
		width: 279px;
		height: 56px;
		margin-top: 24px;
	}

	#top-buttons-bookmark {
		display: none;
	}

	#top-buttons-bookmark-mb {
		display: block;
	}

	/*-------------------- data --------------------*/

	#data {
		padding: 32px 0px;
		align-items: center;
	}

	#dataDetails {
		width: 129px;
		height: 296px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#dataDetails>div {
		width: inherit;
		height: 116px;
		padding: 0px;
		text-align: center;
		padding-top: 12px;
	}

	.dataLimit {
		font: 400 14px 'Commissioner';
	}

	#totalBackers::before,
	#totalBackers::after {
		width: 80px;
		height: 0;
		border-left: none;
		/* Quitamos el borde izquierdo */
		border-top: 1px solid #979797;
		/* Agregamos el borde superior */
		top: auto;
		transform: translateX(-50%);
	}

	#totalBackers::before {
		top: 0;
		/* Borde superior */
		left: 50%;
	}

	#totalBackers::after {
		bottom: 0;
		/* Borde inferior */
		left: 50%;
	}

	#data-backgroundBar {
		width: 279px;
		margin: 32px 0px 0px 0px;
	}

	#data-progressBar {
		width: 218px;
	}

	/*-------------------- about --------------------*/

	#about {
		padding: 40px 0px;
	}

	#about>div {
		width: 279px;
	}

	#about-mainText {
		height: 382px;
		margin-bottom: 40px;
	}

	#about-mainText p[class="default-title"] {
		height: 22px;
	}

	#about-mainText p[class="default-text"] {
		height: 336px;
		line-height: 24px;
		margin-top: 24px;
	}

	.item-desc {
		height: 42px;
		flex-direction: column;
		margin: 0px 0px 24px 0px;
	}

	.item-name {
		height: 17px;
		font: 700 14px/17px 'Commissioner';
	}

	.item-pledge {
		font: 500 14px/14px 'Commissioner';
		margin-top: 8px;
	}

	.itemMainText {
		height: 120px;
		line-height: 24px;
	}

	.item-bottom {
		height: 112px;
		flex-direction: column;
		align-items: flex-start;
	}

	.item-stock {
		margin-bottom: 24px;
	}

	.item-units {
		font: 700 18px 'Commissioner';
	}

	/*--------------------order--------------------*/
	.overlap {
		height: 2700px;
	}

	#backProject {
		width: 327px;
		height: auto;
	}

	#backProject-close {
		height: 22px;
		align-items: center;
	}

	#backProject-close p {
		margin-top: auto;
	}

	#backProject>div {
		width: 279px;
	}

	#backProject-header p[class="default-text"] {
		margin-top: 16px;
	}

	.backPro-parag {
		width: 640px;
		min-height: 80px;
		margin-bottom: 25px;
	}

	.item-info {
		display: grid;
		grid-template-rows: 42px 120px 22px;
		grid-template-columns: 24px 191px;
		column-gap: 16px;
		row-gap: 24px;
		margin: 0px auto;
	}

	.info-namePledge {
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		height: 42px;
		font: 700 14px 'Commissioner';
	}

	.info-name {
		height: 17px;
		margin: 0px;
	}

	.info-pledge {
		margin-top: 8px;
		font: 700 14px 'Commissioner';
		color: hsl(176, 50%, 47%);
	}

	.info-remainingStock {
		grid-row-start: 3;
		grid-column-start: 1;
	}

	.item-description {
		grid-row-start: 2;
		grid-column-start: 1;
		grid-column-end: 3;
	}

	.pledge {
		height: 117px;
		flex-direction: column;
		margin-top: 24px;
	}

	.pledge-text {
		height: 28px;
		justify-content: center;
		margin: 16px 0px 24px;
	}

	.pledge-submit {
		justify-content: space-between;
	}

	/*--------------------orderCompleted--------------------*/

	#orderCompleted {
		width: 327px;
		height: 382px;
	}

	#order-icon {
		margin: 32px auto 24px;
	}

	#order-icon img {
		width: 64px;
	}

	#orderCompleted p[class="default-title"] {
		height: 22px;
	}

	#orderCompleted p[class="default-text"] {
		width: 279px;
		margin: 24px 0px 30px;
		line-height: 24px;
	}
}